/* @media only screen and s and (max-width :1280px){ */
body{
background-color: #fff;
}
.container{
    max-width: 1200px;
    margin: auto;
    border: 1px solid red;
    height: auto;
    background-color: black;
}

.header{
    /* width: 100%; */
    border: 1px solid red;
    height: 100px;
}

.logo{
    width: 30%;
    height: 100px;
    border: 1px solid red;
    float: left;
    background-color:cyan;
}

.nav{
    float: left;
    height: 100px;
    width: 69.6%;
    border: 1px solid red;
    background-color: rgb(235, 125, 125);
    margin-right: 0;
}



.nav li{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    border : 1px solid red;
    list-style: none;
    display: inline-block;
}

.content{
    height: 300px;
    width: 100%;
    border: 1px solid red;
}

.div1{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(255,199,236,1) 0%, rgba(97,90,245,1) 26%, rgba(176,242,173,1) 90%);
    background-color: red;
    width : 33%;
    height: 300px;
    float: left;
}

.div2{
    border: 1px solid red;
    background-color: yellow;
    width : 33%;
    height: 300px;
    float: left;

}

.div3{
    border: 1px solid red;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(90,245,163,1) 64%, rgba(255,199,236,1) 80%, rgba(176,242,173,1) 90%);
    width : 33.3%;
    height: 300px;
    float: left;

}

.other{
    height: 200px;
    width: 100%;
    border: 1px solid red;

}

.other1{
    height: 200px;
    width: 30%;
    background-color:blue;
    float: left;
}

.parent{
    height: 200px;
    width: 70%;
    float: left;
}

.other2{
    height: 200px;
    width: 33.33%;
    background-color: red;
    float: left;
}

.other3{
    height: 200px;
    width: 33.33%;
    background-color:green;
    float: left;
}
.other4{
    height: 200px;
    width: 33.33%;
    background-color:yellow;
    float: left;
}

.article{
    width: 100%;
    height: 300px;
    padding: 50px 0px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(72,198,246,0.8883928571428571) 53%, rgba(6,189,250,1) 98%, rgba(0,212,255,1) 100%);
}

.box{
    height: 300px;
    margin: 0px auto;
    width: 300px;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(79,71,64,1) 38%, rgba(252,176,69,1) 100%);
}

.footer{
    width: 100%;
    height: 200px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(245,90,90,1) 0%, rgba(193,173,242,1) 51%, rgba(250,6,167,1) 100%);
}

@media only screen and (min-width:320px) and (max-width: 767px){
    .header{
        width: 100%;
        border: 1px solid red;
        height: 400px;
    }
    .logo{
        width: 100%;
        height: 100px;
        border: 1px solid red;
        float: none;
        background-color:cyan;
    }

    .nav{
        float: none;
        height: 300px;
        width: 100%;
        border: 1px solid red;
        background-color: rgb(235, 125, 125);
        
    }
    
    
    
    .nav li{
        width: 90%;
        height: 40px;
       
        float: none;
        border : 1px solid red;
        list-style: none;
        display: block;
    }

    .content{
        height: 300px;
        width: 100%;
        border: 1px solid red;
    }

    .div1{
        background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(255,199,236,1) 0%, rgba(97,90,245,1) 26%, rgba(176,242,173,1) 90%);
        background-color: red;
        width : 100%;
        height: 100px;
        float: none;
    }
    
    .div2{
        border: 1px solid red;
        background-color: yellow;
        width : 100%;
        height: 100px;
        float: none;
    
    }
    
    .div3{
        border: 1px solid red;
        background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(90,245,163,1) 64%, rgba(255,199,236,1) 80%, rgba(176,242,173,1) 90%);
        width : 100%;
        height: 100px;
        float: none;
    
    }

    .other{
        height: 400px;
        width: 100%;
        border: 1px solid red;
    
    }
    .other1{
        height: 100px;
        width: 100%;
        background-color:blue;
        float: none;
    }
    
    .parent{
        height: 300px;
        width: 100%;
        float: none;
    }
    
    .other2{
        height: 100px;
        width: 100%;
        background-color: red;
        float: none;
    }
    
    .other3{
        height: 100px;
        width: 100%;
        background-color:green;
        float: none;
    }
    .other4{
        height: 100px;
        width: 100%;
        background-color:yellow;
        float: none;
    }
    
    .article{
        width: 100%;
        height: 300px;
        /* padding: 50px 0px; */
        background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(72,198,246,0.8883928571428571) 53%, rgba(6,189,250,1) 98%, rgba(0,212,255,1) 100%);
    }
    
    .box{
        height: 200px;
        margin: 50px auto;
        width: 50%;
        background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(79,71,64,1) 38%, rgba(252,176,69,1) 100%);
    }
    .footer{
        width: 100%;
        height: 200px;
        background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(33,168,162,1) 0%, rgba(220,255,35,1) 0%, rgba(245,90,90,1) 0%, rgba(193,173,242,1) 51%, rgba(250,6,167,1) 100%);
    }
} 
